/*
window {
  background-color: Yellow;
}
*/

grid {
  background-color: #fffefe;
}

.dontCare {
  border-color: #0088ff;
  border-width: 1px;
}

.fieldFail {
  border-color: Red;
  border-width: 2px;
}

.fieldOk {
  border-color: #00ff88;
  border-width: 1px;
}

/*
container {
  border-color: #aaaaaa;
  border-width: 1px;
}
*/
/*
textview {
  background-color: #ff8000;
}
*/
