/*
window {
  background-color: Yellow;
}
*/

.background {
	/*background-color: #480044;*/
	color: blue
}

.dontCare {
  border-color: #0088ff;
  border-width: 1px;
}

.fieldFail {
  border-color: Red;
  border-width: 2px;
}

.fieldOk {
  border-color: #00ff88;
  border-width: 1px;
}

grid {
  background-color: #efefff;
  color: #ff8000;
}

/*
container {
  border-color: #aaaaaa;
  border-width: 1px;
}
*/
/*
textview {
  background-color: #ff8000;
}
*/
